* {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    box-sizing: border-box;
}

body {
    background-image: url("keyboard.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 60px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 30px;
}

.moveH2 {
    margin-top: -45px;
}

.centerButton {
    text-align: center;
}

.startButton {
    width: 150px;
    height: 60px;
    font-size: 18px;
    background-color: #fff;
    border: 5px solid orange;
    color: #000;
    border-radius: 4px;
    margin-top: 20px;
}

.startButton:hover, .next-button:hover {
    background-color: orange;
    border-color: orange;
    color: #fff;
}

#submitButton {
    width: 150px;
    height: 60px;
    font-size: 18px;
    background-color: #fff;
    border: 5px solid orange;
    color: #000;
    border-radius: 4px;
    margin: 15px;
}

#submitButton:hover, .next-button:hover, .restartButton:hover {
    background-color: orange;
    border-color: orange;
    color: #fff;
}

.next-button, .restartButton {
    width: 150px;
    height: 60px;
    font-size: 18px;
    background-color: #fff;
    border: 5px solid orange;
    color: #000;
    border-radius: 4px;
    margin-top: 20px;
}

button {
    outline: none; 
  }

ul li{
    display: block;
    padding: 10px;
    font-weight: bold;
    font-size: 40px;
}

.score, .questionCounter {
    font-family: 'Oswald', sans-serif;
}

.score_question_center {
    text-align: center;
}

.push_down_footer {
    margin-top: 150px; 
}

#answer-form {
    background-color: #fff;
    border: 5px solid #fff; 
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 600px;
    height: 475px;
}

fieldset {
    border: 0;
}

#answer-form label {
    color: #000;
    font-size: 19px;
    display: flex;
    width: 90%;
    max-width: 540px;
    align-items: stretch;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 4px;
}

#answer-form label:hover {
    color: #fff;
}

fieldset label:hover {
    background-color: orange;
}

input[type="radio"] {
    margin-right: 15px;
    margin-top: 6px;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid turquoise;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: turquoise;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid turquoise;
}

.answer {
    width: 500px;
    border: 2.5px solid orange;
    padding: 15px;
}

.quiz-feedback {
    background-color: #fff;
    border: 5px solid orange; 
    border-radius: 4px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 400px;
    height: 225px;
    text-align: center;
    color: orange;
    font-size: 50px;
    padding-top: 25px;
}

.incorrectMessage {
    font-size: 25px;
    height: 280px;
}

.highScore {
    display: block;
    background-color: #fff;
    border: 5px solid orange;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    width: 90%;
    font-size: 19px;
    height: 775px;
    color: black;
    text-align: center;
    font-size: 20px;
}

.highScore img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
    width: 90%;
    padding-bottom: 20px;
}

.links {
    color: black;
    display: block;
    text-align: center;
    padding-bottom: 5px;
    text-decoration: none;
}

.buttonDown {
    padding-bottom: 30px;

}

.links:hover {
    color: orange;
}

.percentage {
    font-weight: strong;
    color: black;
}

.blackText {
    color: #000;
    margin-top: -20px;

}

ul.score_question_center {
    padding-left: 0;
}

.tealText {
    color: turquoise;
}

/* Tablet Media Query */
@media (min-width: 500px) and (max-width: 768px) {
    
    .push_down_footer {
        margin-top: 185px;     
    }

    .quiz-feedback {
        font-size: 45px;
    }

    .incorrectMessage {
        font-size: 30px;
        height: 315px;
        max-width: 450px;
        width: 90%;
    }

    .next-button {
        margin-top: 35px;
    }

    .push_down_footer {
        margin-top: 50px; 
    }
    
}

/* Mobile Media Query */
@media (min-width: 320px) and (max-width: 480px) {
   
    h1 {
        font-size: 40px;
    }
    h2 {
        font-family: 'Oswald', sans-serif;
        text-align: center;
        font-size: 25px;
    }

    .moveH2 {
        margin-top: -25px;
    }
    
    .startButton {
        margin-top: 150px;
    }
    ul li{
        padding-left: 20px;
        font-weight: bold;
        font-size: 25px;
    }

    #answer-form {
        height: 600px;
    }

    label {
        font-size: 10px;
    }

    input[type="radio"] {
        /*margin-top: 18px;*/
    }

    .push_down_footer {
        margin-top: 45px; 
    }

    .quiz-feedback {
        margin-top: 70px;
        font-size: 30px;
        height: 185px;
    }

    .highScore {
        height: 610px;
    }

    .incorrectMessage {
        font-size: 20px;
        height: 250px;
    }
}

